{
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "script",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "semi": "error",
    "no-undef": "error"
  },
  "env": {
    "node": true,
    "browser": true
  },
  "globals": {
    "Promise": true,
    "ko": true,
    "route": true,
    "React": true,
    "ReactDOM": true
  }
}
