<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Outdated browser</title>
  </head>
  <body>
    <h1>Outdated browser</h1>
    <p>
      Please use the latest versions of Microsoft Edge, Google Chrome, Mozilla Firefox or Apple
      Safari.
    </p>
  </body>
</html>
